{% extends "base.html" %}
{% block title %}
    about
{% endblock %}

{% block content %}
      <div id="content">
	        <div class="gifts_bcgr"></div>
            <div class="displayTable" style="width: 100%;height: 100%;">
                <div class="displayTableRow">
                    <div id="textContentWrapper">
				        <span class="about_how_it_works_wrapper">
					        <h2 class="fontFamilyGothamProBlack about_header">ABOUT</h2>
					        <div class="about_underline"></div>
					        <span class="about_txt fontFamilyGothamProReg">
						        <!-- кнопка логина через соц.сети-->
                            <h2> Content</h2>
                                </span>
                            </span>
                            </div>
				        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}