{% extends "base.html" %}
{% block title %}
    about
{% endblock %}

{% block content %}
      <div id="content">
	        <div class="gifts_bcgr"></div>
            <div class="displayTable" style="width: 100%;height: 100%;">
                <div class="displayTableRow">
                    <div id="textContentWrapper">
				        <span class="about_how_it_works_wrapper">
					        <h2 class="fontFamilyGothamProBlack about_header">ABOUT</h2>
					        <div class="about_underline"></div>
					        <span class="about_txt fontFamilyGothamProReg">
						        <!-- кнопка логина через соц.сети-->
                                <h3>
                             <p>The project goal is to develop a web-portal that aggregates user-specific information via LinkedIn API and based on other open data makes personalized recommendations about career choices.</p>
                                <p>The data for analytics can be gathered from social networks, e.g., LinkedIn profile of an individual, etc.</p>
                                    </h3>
                                </span>
                            </span>
                            </div>
				        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}