{% extends "base.html" %}
{% block title %}
    about
{% endblock %}

{% block content %}
      <div class="col-md-6 col-md-offset-3">
          <h2>ABOUT</h2>

                             <p>The project goal is to develop a web-portal that aggregates user-specific information via LinkedIn API and based on other open data makes personalized recommendations about career choices.</p>
                                <p>The data for analytics can be gathered from social networks, e.g., LinkedIn profile of an individual, etc.</p>

        </div>



{% endblock %}