{% extends "base.html" %}
{% block title %}
    contact
{% endblock %}

{% block content %}
        <div id="content">
	        <div class="gifts_bcgr"></div>
            <div class="displayTable" style="width: 100%;height: 100%;">
                <div class="displayTableRow">
                    <div id="textContentWrapper">
				        <div class="about_how_it_works_wrapper">
					        <h2 class="fontFamilyGothamProBlack about_header">CONTACT US</h2>
					        <div class="about_underline"></div>
					        <span class="about_txt fontFamilyGothamProReg">
						        <!-- кнопка логина через соц.сети-->
                                <h3>



                            <p>Have a question, want to suggest partnership, or simply get to know us?</p>
                                <p>Send an e-mail to smartcareer@gmail.com! </p>
                                <p>We glad to hear "hello" from you, so do not be shy.</p>
                                    </h3>
                                </span>
				        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}