{% extends "base.html" %}
{% block title %}
    F.A.Q.
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
								<div class="about-logo">
									<h1>F.A.Q.</h1>
                                    <h3 style="cursor:hand" onClick="expandit(this)"><a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
											<i class="fa fa-angle-right"></i>
										  Is it possible to analyze foreign profile in LinkedIn?</a></h3>
<p style="display:none">
You can analyze any profile, but there should be as much skills as possible.
</p>
<h3 style="cursor:hand" onClick="expandit(this)"><a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
											<i class="fa fa-angle-right"></i>
										 Why do I get message "check if the link is valid"? </a></h3>
<p style="display:none">
    Your link isn't from LinkedIn or not valid. However, you can leave field with LinkedIn empty and enter your skills in next field.
</p>
                                    <h3 style="cursor:hand" onClick="expandit(this)"><a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
											<i class="fa fa-angle-right"></i>Why do I get a few spheres of work?
										 </a></h3>
<p style="display:none">
    Your skills fit many spheres, so it is possible to choose what you like more.
</p>

								</div>
							</div>
						</div>


{% endblock %}