{% extends "base.html" %}
{% block title %}
    F.A.Q.
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
								<div class="about-logo">
									<h1>F.A.Q.</h1>
                                    <h3 style="cursor:hand" onClick="expandit(this)">Question 1</h3>
<p style="display:none">
Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
</p>
<h3 style="cursor:hand" onClick="expandit(this)">Question 2</h3>
<p style="display:none">
Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
</p>

								</div>
							</div>
						</div>


{% endblock %}