{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}

                        {% comment %}
<form action="" method="POST">
      {{ form1.as_p }}
    </form>
    {% endcomment %}
                        {{ data }}
						        <!-- кнопка логина через соц.сети-->

						      <div class="col-md-6 col-md-offset-3">
								<div class="about-logo">
                                    <h1>HOW IT WORKS?</h1>
                                    <br>

									<p>In fact - very simple. You add a link to your profile, we analyze it and determine keywords.</p>




				        <p>Based on these data, we generate a list of occupations in which you can find yourself.<br> And at the same time will offer online courses by which you could improve your skills;)</p><br>
								</div>


 {% if error %}
     {% for er in error %}
                                <p class="text-danger">{{ er }}</p>
     {% endfor %}
                                {% endif %}
           {% block search %} {% endblock %}
<form action=" " enctype="multipart/form-data" method="post">
{% csrf_token %}


{{ form }}

 {{ form1 }}

<br>
<input id="email" type="submit" value="Make a prediction" class="btn btn-color btn-lg btn-block"/>

                                </form>
							</div>
        </div>

{% comment %}
    <form action=" " method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
{% endcomment %}

{% endblock %}