@font-face {
    font-family: PTSansRegular;
	src: url('/static/fonts/PTSansRegular.woff') format('woff'),
       url('/static/fonts/PTSansRegular.ttf') format('truetype');
}
.fontFamilySansRegular{
    font-family: PTSansRegular;
}
@font-face {
    font-family: GothamProMed;
	src: url('/static/fonts/GothaProMed.woff') format('woff'),
       url('/static/fonts/GothaProMed.ttf') format('truetype');
}

.fontFamilyGothamProBold{
    font-family: GothamProBold;
}

@font-face {
    font-family: GothamProBold;
	src: url('/static/fonts/GothaProBol.woff') format('woff'),
       url('/static/fonts/GothaProBol.ttf') format('truetype');
}

.fontFamilyGothamProMed{
    font-family: GothamProMed;
}

@font-face {
    font-family: GothamProReg;
	src: url('/static/fonts/GothaProReg.woff') format('woff'),
       url('/static/fonts/GothaProReg.ttf') format('truetype');
}

@font-face {
    font-family: GothamProLight;
	src: url('/static/fonts/GothaProLig.woff') format('woff'),
       url('/static/fonts/GothaProLig.ttf') format('truetype');
}

.fontFamilyGothamProLight{
    font-family: GothamProLight;
}

@font-face {
    font-family: GothamProBlack;
	src: url('/static/fonts/GothamProBlack.eot');
	src: url('/static/fonts/GothamProBlack.woff') format('woff'),
       url('/static/fonts/GothamProBlack.ttf') format('truetype');
}

.fontFamilyGothamProBlack{
    font-family: GothamProBlack;
}

.fontFamilyGothamProReg{
	font-family: GothamProReg;
}

/*-------------------------------------------------MAIN-------------------------------------------------------*/



html{
    height: 100%;	
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
	position: relative;
	min-height: 820px !important;
}
#content{
    background-color: #fff;
    position: relative;
    width: 100%;
    min-height: 640px;
    min-width:1000px;
	box-sizing: border-box;
	height: 100%;
	padding: 65px 0px 70px 0;
	margin: 0 !important;
}

#header{
    height: 65px;
    width: 100%;
    z-index: 1;
    min-width: 1000px;
    background-color: #3ABA87;
    color: #FFF !important;
    top: 0px;
    left: 0px;
    position: absolute;
}

#footer {
    height: 70px;
    z-index:10;
    text-align: center;
    width: 100%;
    min-width: 1000px;
    background-color: #0D6B46;
    display: none;
    bottom: 0px;
    left: 0px;
    position: absolute;
}

#footer span {
    opacity: 0.7;
}

#left_panel{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 28%;
    max-width: 430px;
}

#startView{
	z-index: 10;
	position: relative;
}

#right_panel{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28%;
    max-width: 450px;
}

.logo{
    margin: 0 auto;
    position: relative;
    display: block;
    top: 57px;
    width: 22%;
    max-width: 335px;
}

.cook_btn_wrapper{
    margin: 0 auto;
    position: relative;
    display: block;
    top: 75px;
    cursor: pointer;
}

.text_block{
    position: relative;
    top: 53px;
    height: 150px;
}

.text_block span{
    width: 100%;
    text-align: center;
    display: block;
}

.txt1{
    font-size: 36pt;
    padding-top: 26px;
}

.txt2{
    font-size: 17pt;
    line-height: 20px;
    line-height: 24px;
}

.join_txt{
    font-size: 14pt;
}


.buffer {
    height: 80px;
}

.cursor_pointer{
    cursor: pointer;
}

.motto{
    position: absolute;
    top: 41px;
    left: 60px;
    font-size: 12px;
}

.header_links_wrapper{
    height: 65px;
    width: 100%;
}

.menu_item{
    font-family: GothamProBold;
    font-size: 15px;
    top: 26px;
    line-height: 65px;
    display: inline-block;
    height: 100%;
    color: white;
    padding: 0 10px;
}

.menu_item a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menu{
    height: 100%;
    width: 40%;
    text-align: center;
    top: 0;
    z-index:-1;
    font-size: 15px;
    float: left;
}

.displayTable{
    display: table;
}

.displayTableCell{
    display: table-cell;
    vertical-align: middle;
}

.displayInlineBlock{
    display: inline-block;
}

.displayTableRow{
    display: table-row;
}

/*------------------------------------------------------------INDEX---------------------------------------------------*/




#searchView{
    position: absolute;
    display: none;
    text-align: center;
    width: 100%;
    min-height: 669px;
	height: 100%;
	z-index: 10;
	top: 0;
}

#searchForm{
    width: 571px;
    min-height: 579px;
    float:left;
	position: relative;
}



#searchView .displayTable{
    height: 100%;
}

.block_header{
    width: 100%;
    display: block;
    text-align: left;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 25px;
}

.search_param_btn{
    position: relative;
}

.gender_btn{

}

#gender_block{
    position: relative;
    display: inline-block;
    width: 500px;
    text-align: left;
}

#gift_type_block{
    position: relative;
    display: inline-block;
    width: 500px;
    text-align: left;
}

.gift_type_btn:not(:nth-of-type(1)){
    margin-left: 11px;
}

.gift_type_btn{
    margin-bottom: 25px;
    float:left;
}

#search_input_block{
    width: 500px;
    display: inline-block;
    text-align: left;
    position: relative;
}

#search_select{
    width:300px;
}

#soc_network_link_input{
    width: 100%;
    border: 1px solid #1fc36a;
    border-radius: 4px;
    height: 50px;
}


#s2id_search_select{
    width:100%;
    border: 1px solid #1fc36a;
    border-radius: 4px;
	margin-bottom: 13px;
}

#s2id_search_select input{
    height: 46px;
    padding-left: 39px;
    min-width: 390px;
    font-family: GothamProReg;
    font-size: 16px;
}

#s2id_search_select ul{
    border-radius: 4px;
}

.cookBtn{
    width: 405px;
    position: relative;
    border-radius: 4px;
    background-color: #1fc36a;
    margin: 0 auto;
    cursor: pointer;
    height: 70px;
    font-size: 19pt;
    text-align: center;
    color: white;
    box-shadow: inset 0px -2px 3px #169851;
    -webkit-box-shadow: inset 0px -2px 3px #169851;
    -moz-box-shadow: inset 0px -2px 3px #169851;
    font-family: GothamProReg;
}

#cookBtnWrapper{
    width: 100%;
    float: left;
    height: 127px;
    position: relative;
}

.gift_type_name{
    cursor: pointer;
    padding-left: 3px;
    font-size:14px;
    vertical-align: middle;
}

.active_search_param_btn .gift_type_name{
    font-family: GothamProMed;
}


.pot_block_l{
    position: absolute;
    display: inline-block;
    left: -185px;
    width: 200px;
    margin-top: 175px;
}

.pot_block_r{
    position: absolute;
	display: inline-block;
	right: -246px;
	margin-top: 148px;
}

.pot, .pot2{
    position: relative;
}



body{scrollbar-face-color: #000000;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color:#7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1;
}

.select2-drop ::-webkit-scrollbar{width:14px;height:8px;}
.select2-drop ::-webkit-scrollbar-button:start:decrement,.select2-drop ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
.select2-drop ::-webkit-scrollbar-track-piece{background-color: #e1f9e1;-webkit-border-radius:0;}
.select2-drop ::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#1fc36a;}
.select2-drop ::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#1fc36a;}

.selected_categories ::-webkit-scrollbar{width:14px;height:8px;}
.selected_categories ::-webkit-scrollbar-button:start:decrement,.selected_categories ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
.selected_categories ::-webkit-scrollbar-track-piece{background-color: #e1f9e1;-webkit-border-radius:0;}
.selected_categories ::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#1fc36a;}
.selected_categories ::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#1fc36a;}



#topBlock{
    background-color: #1fc36a;
    width: 100%;
    height: 47px;
    position: relative;
    margin-top: 0px;
}

#resultView{
    width:100%;
    position: relative;
    margin: 0 auto;
    display: none;
    overflow: hidden;
	height: 100%;
	z-index: 10;
}

#sliderBlock{
    width: 100%;
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

#content.search_view_content, #content.result_view_content{
    min-height: 755px !important;
	background-color: transparent;
}

.gift_block{
    display: table-cell;
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.gift_wrapper{
    width: 800px;
    display: inline-block;
}

.gift_bcgr{
    height: 567px;
    width: 720px;
    float: left;
    margin: 0 40px;
}

.arrow{
    height: 116px;
    width:53px;
    cursor: pointer;
    top: 50%;
    margin-top: -58px;
    position: absolute;
	z-index:2;
}

.arrow2_l{
    background-image: url("../img/gift_arrow2_l.png");
    right: 50%;
    margin-right: 427px;
}

.arrow1_r{
    background-image: url("../img/gift_arrow1_r.png");
    left: 50%;
    margin-left: 427px;
}

.footer_inner_block{
    width: 1000px;
    display: inline-block;
}

#footer .soc_net_icons_wrapper{
    float:right;

}

#footer .join_txt{
    float:right;
    line-height: 46px;
    padding-right: 15px;
    color: white;
}

.footer_inner_block{
    margin-top: 10px;
}

.gift_img_wrapper{
    float: left;
    clear: both;
    width: 100%;
    margin-top: 54px;
}

.gift1{
    background-image: url("/img/gift1.png");
    width: 112px;
    height: 106px;
    margin: 0 auto;
}

.middle_separator_wrapper{
    float: left;
    clear: both;
    width: 100%;
}

.gift_name_wrapper, .gift_desc_wrapper{
    text-align: center;
    float: left;
    width: 100%;
    height: 121px;    
}

.gift_desc_wrapper{
    height: 150px;
    max-height: 581px;
}

.gift_name, .gift_desc{
    max-width: 520px;
}

.gift_name {
      font-size: 30px;
}

.gift_desc{
    color:#666666;
    font-size: 15px;
    overflow: hidden;
    max-height: 112px;
    line-height: 23px;
}

.buy_btn_wrapper{
    float: left;
    clear: both;
    width: 100%;
}

.buy_btn_link{
    margin: 0 auto;
    width: 184px;
    height: 55px;
    cursor: pointer;
    box-shadow: inset 0px -2px 3px #169851;
    -webkit-box-shadow: inset 0px -2px 3px #169851;
    -moz-box-shadow: inset 0px -2px 3px #169851;
    border-radius: 4px;
    background-color: #1fc36a;
    display: block;
    text-decoration: none;
}

#sliderBlock .favorites_block{
    display: inline-block;
    position: absolute;
    margin-left: 154px;
    top: 25px;
    text-align: left;
    z-index: 2;
left:50%;
}

.buy_btn_txt{
    line-height: 55px;
    color: white;
}

.add_or_remove_favorites_txt{
    color:#999999;
    vertical-align: top;
    cursor: pointer;
    font-size: 14px;
    padding-top: 4px;
    display: none;
}

.removeFromFavoritesTxt{    
    color:#999028;
}

.add_to_favorite_star, .remove_from_favorite_star{
    width: 24px;
    height: 22px;
    cursor: pointer;
    display: none;
}

.add_to_favorite_star{
    background-image: url("../img/add_to_favorite_star.png");
}

.remove_from_favorite_star{
    background-image: url("../img/remove_from_favorite_star.png");
}

#separator{
    background-color: #d6e3dd;
    width: 100%;
    height: 2px;
    display: none;
}

.search_blocks_separator{
    background-color: #e8e8e8;
    width: 100%;
    height: 1px;
}

.result_blocks_separator{
    background-color: #d7d7d7;
    width: 120px;
    height: 1px;
    display: inline-block;
}


.switch{
    width: 32px;
    height: 19px;
    background-color: #1fc36a;
    border-radius: 41px;
    cursor: pointer;
    margin: -3px 7px 0px 7px;
}

.switch_circle{
    width: 17px;
    height: 17px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-left: 1px;
    margin-top: 1px;
    margin-right: 1px;
    float: left;
}

.switch_circle.right_side{
    float: right;
}

#isGiftTypeImportantWrapper > span, #isGiftTypeImportantWrapper > div{
    float: left;
    cursor: pointer;
}

#isGiftTypeImportantWrapper{
    float: left;
    width: 100%;
    margin-bottom: 17px;
    margin-top: 4px;
    font-size: 14px;
}

#useful{
    margin-left: 0px;
    width: 108px;
}

#romantic{
    width: 135px;
}

#funny{
    width:106px;
}

#cheap{
    width: 116px;
}

.switchWrapper span{
    color: #4d4d4d;
    opacity: 0.5;
}

.switchWrapper .active_switch_text{
    color:#1fc36a;
    opacity: 1;
}

.select2-drop{
    font-family: PTSansRegular;
}


#backToSearchBtn{
    padding-left: 33px;
	padding-top: 30px;
	position: absolute;
	font-size: 14px;
	cursor: pointer;
	color: #1fc36a;
	left: 50%;
	margin-left: -383px;
	z-index: 2;
}

#backToSearchBtn span{
    padding-left: 5px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.enable_text_select{
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.select2-search-choice{
    font-family: PTSansRegular;
}

.inactive_gift_type_btn{
    color: #B3B3B3;
    cursor: default !important;
}

.inactive_gift_type_btn *{
    cursor: default !important;
}

#cookBtnTxt{
    float: left;
    width: 100%;
    line-height: 70px;
}

#giftsCountTxtWrapper{
    float: left;
    width: 100%;
    font-size: 14px;
    height: 53px;
    color: #1fc36a;
}

#giftsCountTxtWrapper span{
    padding-top: 19px;
    display: inline-block;
}


.centered{
    width: 100%;
    height: 100%;
}

#siteName{
    float: left;
    width: 30%;
    height: 100%;
}


.copyright_txt{
    font-size: 13px;
    float: right;
    line-height: 46px;
    padding-right: 15px;
    color: white;
}

#giftBlock_l, #giftBlock_r, #giftBlock_c, #giftBlock_accessory{
    position: absolute;
    display: inline-block;
    text-align: center;
}

#giftBlock_l, #giftBlock_r, #giftBlock_accessory{
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

#giftBlock_l{
    right: 680px;
}

#giftBlock_r{
    left: 680px;
}

#giftBlock_c{
    left: 0px;
	z-index: 1;
}

#giftBlock_r .gift_wrapper, #giftBlock_l .gift_wrapper, #giftBlock_c .gift_wrapper, #giftBlock_accessory .gift_wrapper{
    display: table-cell;
    vertical-align: middle;
}

#giftBlock_r > .displayTable, #giftBlock_l > .displayTable, #giftBlock_c > .displayTable, #giftBlock_accessory > .displayTable{
    height: 100%;
    margin:0 auto;
}

#giftBlock_accessory{
    left:100%
}

#giftBlock_c > .displayTable{
    height: 100%;
}

#searchFormWrapper{
	margin: 0 auto;
	border-left: 5px solid #3aba87;
	border-right: 5px solid #3aba87;
	width: 571px;
	background-color: white;
}
.color_bcgr{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #45d49c;
    opacity: 0.9;
    z-index: -1;
    top:0;
	left:0;
}

#resultView .color_bcgr{
	opacity: 0.8;
}

.gifts_bcgr{
	width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/bcgr_pattern.png");
    z-index: 0;
    top:0;
	left:0;
	background-repeat: repeat;
}

#resultView .gifts_bcgr{
	z-index: -1;
}

.center_gifts_bcgr{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
}

.desc_underline_wrapper{
    float: left;
    clear: both;
    width: 100%;
    margin: 30px 0;
}

.desc_underline{
    background-color: #d7d7d7;
    margin: 0 auto;
    width: 121px;
    height: 3px;
    border-radius: 3px;
}

#addSocNetworkLinkWrapper{
    width: 100%;
    height: 71px;
    color: #199753;
    font-size: 12px;
    text-align: left;
    padding-left: 35px;
    display: inline-block;
}

#addSocNetworkLinkWrapper span:not(.fontFamilyGothamProLight){
    border-bottom: 0.2em dotted #199753;
    margin-top: 27px;
    margin-left: 21px;
}

#addSocNetworkLinkWrapper .fontFamilyGothamProLight {
    font-size:24px;
    margin-top: 24px;
}

#addSocNetworkLinkWrapper span{
    cursor: pointer;
    position: absolute;
}

.tip_wrapper{
    position: absolute;
	top: -78px;
	right: 26px;
}

.tip_window{    
    width: 161px;
	height: 52px;
	position: absolute;
	top: 0;
	left: 0;
}

.close_cross{
    background-image: url("../img/close_cross.png");
    width: 12px;
    height: 12px;
    position: absolute;
    top:-5px;
    right: -5px;
    cursor: pointer;
}

.tip_txt{
    font-size: 11px;
    opacity: 0.7;
}

#leftArrow{
    display: none;
}

#socNetworkLinkInputWrapper{
    width: 498px;
    position: absolute;
    height: 56px;
    margin-top: 8px;
    border: 1px solid #1fc36a;
    border-radius: 4px;
    display: none;
}

#addLinkBtn{
    font-size: 13px;
    color: white;
    line-height: 48px;
    height: 48px;
    width: 124px;
    cursor: pointer;
    float: right;
    background-color: #1fc36a;
    border-radius: 3px;
    margin-top: 4px;
    margin-right: 4px;
    text-align: center;
}

#socNetworkInput{
    height: 54px;
    width: 334px;
    padding-left: 16px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #4d4d4d;
    background-color: transparent;
}

.tooltip-item.no_categories_selected .tooltip-content {
	opacity: 1;
	-webkit-transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
	transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
	pointer-events: auto;
}

.tooltip-content {
	background-image: url("../img/tip_window.png");
	z-index: 9999;
	width: 122px;
	margin-bottom: -1em;
	padding: 20px;
	opacity: 0;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	height: 12px;
	-webkit-transform: translate3d(0,50%,0) rotate3d(1,1,1,30deg);
	transform: translate3d(0,50%,0) rotate3d(1,1,1,30deg);
	-webkit-transform-origin: 10px bottom;
	transform-origin: 10px bottom;
}
















@font-face {
  font-family: 'icon-search';
  src: url("../fonts/icon-search.eot?48163883");
  src: url("../fonts/icon-search.eot?48163883#iefix") format("embedded-opentype"), url("../fonts/icon-search.woff?48163883") format("woff"), url("../fonts/icon-search.ttf?48163883") format("truetype"), url("../fonts/icon-search.svg?48163883#icon-search") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 26, assets/scss/base/extend.scss */
.mainhead .logo, .mainhead .mainnav {
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 3, assets/scss/base/sprite.scss */
.close-car-desc:before {
  background: url(../img/sprite.png) 0 0 no-repeat;
}

/* line 3, assets/scss/base/grid.scss */
.grid-row {
  display: table;
  font-size: 0px !important;
  width: 1065px;
  margin-left: -105px;
}

/* line 23, assets/scss/base/reset.scss */
html {
  line-height: 1;
}

/* line 27, assets/scss/base/reset.scss */
body {
  font-family: "GothamProBold", sans-serif, serif;
  line-height: 1;
}

/* line 32, assets/scss/base/reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, assets/scss/base/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 41, assets/scss/base/reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 47, assets/scss/base/reset.scss */
q, blockquote {
  quotes: none;
}
/* line 50, assets/scss/base/reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 57, assets/scss/base/reset.scss */
img {
  max-width: 100%;
  height: auto;
  border: none;
}

/* line 63, assets/scss/base/reset.scss */
a {
  text-decoration: none;
}

/* line 67, assets/scss/base/reset.scss */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 72, assets/scss/base/reset.scss */
:focus {
  outline: none;
}

/* line 75, assets/scss/base/reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 79, assets/scss/base/reset.scss */
.cf:before, .cf:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

/* line 80, assets/scss/base/reset.scss */
.cf:after {
  clear: both;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon-search';
    src: url('../font/icon-search.svg?48163883#icon-search') format('svg');
  }
}
*/
/* line 12, assets/scss/base/fontello.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon-search";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

.icon-vk:before {
  content: '\21';
}

/* '&quot;' */
/* line 45, assets/scss/base/fontello.scss */
.icon-fb:before {
  content: '\23';
}

/* '%' */
/* line 48, assets/scss/base/fontello.scss */
.icon-pinterest:before {
  content: '\26';
}

/* '%' */
/* line 1, assets/scss/_some.scss */
.about {
  color: #fff;
  width: 545px;
  margin: 20px auto 0;
  text-align: center;
}
/* line 6, assets/scss/_some.scss */
.about .title {
  font-family: "GothamProBlack", sans-serif;
  font-size: 50px;
  line-height: 46px;
  padding: 0 60px;
  margin-bottom: 14px;
  margin-top: 35px;
}
/* line 13, assets/scss/_some.scss */
.about .description {
  font-size: 22px;
  font-family: GothamProReg;
}

/* line 18, assets/scss/_some.scss */
.heroes {
  display: block;
  width: 340px;
  height: 267px;
  margin: 30px auto 15px;
  background: transparent url("../img/heroes.png") center center no-repeat;
  background-size: contain;
}

/* line 26, assets/scss/_some.scss */
.go {
  color: rgba(45, 23, 7, 0.7);
  position: relative;
  font-family: "GothamProBold", sans-serif;
  font-size: 24px;
  background: #fff749;
  width: 355px;
  height: 70px;
  line-height: 70px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  display: block;
  margin: 30px auto 30px;
  text-align: center;
  -moz-box-shadow: 0 4px #b9a720;
  -webkit-box-shadow: 0 4px #b9a720;
  box-shadow: 0 4px #b9a720;
  cursor: pointer;
}
/* line 43, assets/scss/_some.scss */
.go:hover {
  top: 2px;
  -moz-box-shadow: 0 2px #b9a720;
  -webkit-box-shadow: 0 2px #b9a720;
  box-shadow: 0 2px #b9a720;
}

.go2 {
  color: #ffffff;
  position: relative;
  font-family: "GothamProBold", sans-serif;
  font-size: 24px;
  background: #1fc36a;
  width: 405px;
  height: 70px;
  line-height: 70px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  display: block;
  margin: 0px auto 30px;
  text-align: center;
  -moz-box-shadow: 0 4px #169851;
  -webkit-box-shadow: 0 4px #169851;
  box-shadow: 0 4px #169851;
  cursor: pointer;
}
/* line 43, assets/scss/_some.scss */
.go2:hover {
  top: 2px;
  -moz-box-shadow: 0 2px #169851;
  -webkit-box-shadow: 0 2px #169851;
  box-shadow: 0 2px #169851;
}


/* line 1, assets/scss/_header.scss */
.mainhead {
  height: 65px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #0D6B46;
  position: absolute;
}
/* line 12, assets/scss/_header.scss */
.mainhead .wrap {
	width: 100%;
	max-width: 1170px;  
	margin: 0 auto;
	height: 65px;
}
/* line 18, assets/scss/_header.scss */
.mainhead .logo {
  float: left;
  font-size: 35px;
  height: auto;
  line-height: 24px;
  display: block;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-left: 15px;
}
/* line 28, assets/scss/_header.scss */
.mainhead .logo a {
  display: inline-block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}
/* line 33, assets/scss/_header.scss */
.mainhead .logo a span {
  text-transform: initial;
  display: block;
  font-size: 12px;
  line-height: 12px;
  margin-top: 4px;
}
/* line 43, assets/scss/_header.scss */
.mainhead .mainnav {
  font-family: "GothamProBold", sans-serif;
  display: block;
  width: 500px;
  font-size: 0 !important;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: 80px;

  position: relative;
  text-align: center;
}
/* line 56, assets/scss/_header.scss */
.mainhead .mainnav .nav-item {
  display: inline-block;
  vertical-align: top;
  margin-left: 88px;
}
/* line 60, assets/scss/_header.scss */
.mainhead .mainnav .nav-item:nth-child(1) {
  margin-left: 0;

}
/* line 64, assets/scss/_header.scss */
.mainhead .mainnav .nav-item a {
  color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "GothamProBold", sans-serif;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  display: inline-block;
}
/* line 76, assets/scss/_header.scss */
.mainhead .mainnav .nav-item a:hover:before {
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 82, assets/scss/_header.scss */
.mainhead .mainnav .nav-item a:before {
  color: #fff;
  content: attr(data-hover);
  position: absolute;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
/* line 91, assets/scss/_header.scss */
.mainhead .mainnav .nav-item.current a {
  background: #ffdc47;
  color: #000;
}
/* line 99, assets/scss/_header.scss */
.mainhead .soc-block {
  text-align: center;
  float: right;
}
/* line 102, assets/scss/_header.scss */
.mainhead .soc-block a {
  color: #fff;
  width: 37px;
  height: 37px;
  line-height: 37px;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  margin-right: 2px;
}
/* line 113, assets/scss/_header.scss */
.mainhead .soc-block a:nth-last-child(1) {
  margin-right: 0;
}
/* line 116, assets/scss/_header.scss */
.mainhead .soc-block a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 6, assets/scss/_footer.scss */
.curv {
  position: absolute;
  bottom: 0;
}
/* line 22, assets/scss/_footer.scss */
.curv.show {
  -moz-transition: left 0.3s, right 0.3s;
  -o-transition: left 0.3s, right 0.3s;
  -webkit-transition: left 0.3s, right 0.3s;
  transition: left 0.3s, right 0.3s;
}
/* line 24, assets/scss/_footer.scss */
.curv.show.left {
  left: 0;
}
/* line 27, assets/scss/_footer.scss */
.curv.show.right {
  right: 0;
}
/* line 31, assets/scss/_footer.scss */
.curv.left {
  left: -1000px;
}
/* line 35, assets/scss/_footer.scss */
.curv.right {
  right: -1000px;
}

/* line 1, assets/scss/_main.scss */
body {
  background-color: #0D6B46;
  min-width: 1000px;
  position: relative;
}

/* line 10, assets/scss/_main.scss */
.logo {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  font-family: GothamProBold;
}


.body_start_page{
	min-height: 650px !important;
	overflow-x: hidden;
}

.center_gift_bcgr{
    display: table-cell;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    width: 800px;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-left: -400px;
}

.left_gift_bcgr, .right_gift_bcgr{
    display: table-cell;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    width: 100%;
    background-color: #cff4e5;
    opacity: 0.85;
    position: absolute;
    background-image: url("../img/bcgr_pattern.png");
}

.right_gift_bcgr{
    left: 50%;
    margin-left: 400px;
}

.left_gift_bcgr{
    right: 50%;
    margin-right: 400px;
}

.go3 {
color: #ffffff;
position: relative;
font-family: "GothamProBold", sans-serif;
font-size: 16px;
background: #1fc36a;
width: 190px;
line-height: 50px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
display: block;
margin: 0px auto 0px;
text-align: center;
-moz-box-shadow: 0 4px #169851;
-webkit-box-shadow: 0 4px #169851;
box-shadow: 0 4px #169851;
cursor: pointer;
}

.go3:hover {
top: 2px;
-moz-box-shadow: 0 2px #169851;
-webkit-box-shadow: 0 2px #169851;
box-shadow: 0 2px #169851;
}

.gift_id{
    display:none;
}


.even_gift_div_bcgr{
    background-color: #000000;
    opacity: 0.05;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.popup_substrate{
    background-color: #45d49c;
    opacity: 0.26;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    display: none;
}

.scroll_arrows_block{
    position: absolute;
    margin-left: 413px;
    margin-top: -55px;
    left: 50%;
    top: 50%;
    z-index: 11;
    display: none;
}

.scroll_up_arrow, .scroll_down_arrow{
    width: 50px;
    height: 50px;
    background-color: #1b6347;
    opacity: 0.4;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
}

.scroll_up_arrow{
    background-image: url(../img/arrow_up.png);
}

.scroll_down_arrow{
    background-image: url(../img/arrow_down.png);
    margin-top: 5px;
}

.active_scroll_arrow{
    background-color: #2f966d;
    opacity: 1;
}

.perfect_gift_bcgr {
    width: 70px;
    height: 26px;
    background-color: white;
    opacity: 0.3;
    position: absolute;
    top: -5px;
    left: 59px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;

}